// Brand Colors

// Main
$red: #ec1f27;
$black: #231f20;
$white: #fff;

// Red Tints
$pastel-red: #fc675e;
$dark-pink: #ed4e56;
$mid-pink: #f17a80;
$pink: #f6a6aa;
$light-pink: #fad2d4;

// Black Tints
$dark-gray: #3a3735;
$mid-gray: #5a5652;
$gray: #847f7c;
$light-gray: #b9b4b0;

// Special
$apricot: #fbc8b5;
