.main {
  &__links-section {
    border-bottom: 1px solid $red;
    margin-bottom: rem-calc(20);
    padding-bottom: rem-calc(7);
  }

  &__links-section-title {
    padding-bottom: rem-calc(20);
  }

  &__links-intro {
    font-style: italic;
    padding-bottom: rem-calc(20);
  }

  &__links-list {
    list-style: none;
  }

  &__links-list-item {
    padding-bottom: rem-calc(10);
  }
}
