@import "./normalize";
@import "./colors";
@import "./typography";
@import "./utils";
@import "./faq";
@import "../components/header/_header";

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.main {
  &__row {
    max-width: 960px;
    padding: 1.45rem 1rem;
  }

  &__page-title {
    @include pageTitle();

    margin-bottom: rem-calc(20);
  }

  &__body-copy {
    @include bodyCopy();

    width: 75%;

    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
      @include bodyCopySmall();
      width: 100%;
    }
  }

  &__members {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: rem-calc(20);
  }

  &__member {
    @include member();
    flex: 1 0 50%;
  }

  &__paragraph {
    padding-bottom: rem-calc(15);
  }

  &__first-sentence {
    @include firstLine();
  }

  &__list {
    padding-left: rem-calc(35);
  }

  &__list-item {
    padding-bottom: rem-calc(10);
  }

  &__anchors {
    display: block;

    a {
      display: block;
    }
  }

  &__platform-section {
    border-bottom: 1px solid $red;
    padding-bottom: rem-calc(7);
  }

  &__platform-subsection {
    padding-bottom: rem-calc(10);
    padding-left: rem-calc(15);
  }

  &__subhead {
    padding: rem-calc(15) 0;
  }

  &__subsubhead {
    font-weight: 400;
    padding-bottom: rem-calc(5);
    padding-left: rem-calc(15);
    text-transform: uppercase;
  }

  &__quote {
    @include quote();

    border-left: 1px solid $gray;
    margin-left: rem-calc(15);
    margin-bottom: rem-calc(10);
  }

  &__quote-paragraph {
    padding-bottom: rem-calc(5);
    padding-left: rem-calc(15);

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}
